@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  position: absolute;
  top: 0;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pasted-url {
  display: flex;
  justify-content: center;
  /* gap: 0.8rem; */
  font-weight: bold;
  font-size: 1.5em;
}
.parsed-container {
  display: flex;
  justify-content: space-around;
  margin: 0 2rem;
  margin-top: 5rem;
  gap: 2rem;
}
.parsed-container > * {
  flex: 1;
  padding: 15px;
}
.param-container {
  display: flex;
  justify-content: center;
  border: 1px solid #cfcfcf;
}
.defaults {
  flex: 0;
  align-self: center;
}
.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.root-param {
  /* padding: 1rem; */
}
.param-group {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  pointer-events: none;
}
/* .param-group:hover {
  background: #cfcfcf;
} */
.param-name {
  font-size: 1rem;
  position: absolute;
  top: 4.5rem;
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.robot-container {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  display: flex;
}
.robot-text-container {
  width: 50ch;
  align-self: center;
}
.robot-text {
  width: max-content;
  padding: 2rem;
  padding-left: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  border-radius: 5px;
}
.url-empty {
  font-size: 3.5rem;
  font-weight: bold;
  opacity: 0.15;
}
/* .link-strip {
  position: absolute;
  top: -80px;
  right: -75px;
  width: 150px;
  height: 200px;
  transform: rotate(140deg);
  background: #191919;
} */
.github-link {
  color: #191919;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  transform: scale(1.4);
  transition: all 0.25s ease-in-out;
}
.github-link:hover {
  transform: scale(1.7);
}
