@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pasted-url {
  display: flex;
  justify-content: center;
  /* gap: 0.8rem; */
  font-weight: bold;
  font-size: 1.5em;
}
.parsed-container {
  display: flex;
  justify-content: space-around;
  margin: 0 2rem;
  margin-top: 5rem;
  gap: 2rem;
}
.parsed-container > * {
  flex: 1;
  padding: 15px;
}
.param-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.defaults {
  flex: 0;
  align-self: center;
}
.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.root-param {
  /* padding: 1rem; */
}
.param-group {
  padding: 0;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
/* .param-group:hover {
  background: #cfcfcf;
} */

.pasted-url .param-group:hover {
  opacity: 1;
  transform: scale(1.05);
}
.param-name {
  font-size: 1rem;
  position: absolute;
  top: 4.5rem;
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  pointer-events: auto;
  cursor: pointer;
}
/* arrow */
.param-name:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  position: absolute;
  top: -6px;
  transform: rotate(45deg);
  left: calc(50% - 7px);
  background: black;
  z-index: -1;
}
.robot-container {
  /* left: 0; */
  display: flex;
}
.robot-text-container {
  width: 50ch;
  align-self: center;
}
.robot-text {
  /* width: max-content; */
  padding: 2rem;
  padding-left: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  border-radius: 5px;
}
.url-empty {
  font-size: 3.5rem;
  font-weight: bold;
  opacity: 0.15;
}

.github-link {
  color: #999;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  transform: scale(1.4);
  transition: all 0.25s ease-in-out;
}
.github-link:hover {
  transform: scale(1.7);
}
.app-header__product-name {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: -1.4px;
  font-weight: 900;
}
.app-header__by {
  font-size: 0.5em;
  font-style: italic;
  font-weight: 300;
}
.app-header__name {
  font-weight: 300;
  font-size: 0.7em;
}
.app-header__cw {
  font-weight: 400;
  font-size: 0.4em;
  text-transform: uppercase;
}
.copy-btn {
  opacity: 0;
  border: 0;
  position: absolute;
  bottom: 3rem;
  background: transparent;
  cursor: pointer;
  color: #191919;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
}
.copy-txt {
  padding-bottom: 7px;
}
.copy-icon {
  width: 24px;
  height: 24px;
  pointerevents: none;
}
.param-container:hover .copy-btn {
  opacity: 1;
  bottom: 4rem;
}
